# Tauri build output
src-tauri/gen
src-tauri/target
src-tauri/Cargo.lock

# Vite build output
dist
dist-ssr
*.local

# Node
node_modules
*.log*

# IDE / OS files
.idea
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local secrets
.env.local